<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	                       http://www.springframework.org/schema/beans/spring-beans.xsd
					       http://www.springframework.org/schema/context
					       http://www.springframework.org/schema/context/spring-context-4.0.xsd
	   					   http://www.springframework.org/schema/tx
						   http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
						   http://www.springframework.org/schema/aop
						   http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<context:component-scan base-package="com.scut.crm"/>
	  
	<context:property-placeholder location="classpath:conf/db.properties"/>
	
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="user" value="${jdbc.user}"/>
		<property name="driverClass" value="${jdbc.driverClass}"/>
		<property name="jdbcUrl" value="${jdbc.jdbcUrl}"/>
		<property name="password" value="${jdbc.password}"/>
		<property name="initialPoolSize" value="${jdbc.initPoolSize}"/>
		<property name="maxPoolSize" value="${jdbc.maxPoolSize}"/>
	</bean>

	 <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<!-- 配置数据源-->
		 <property name="dataSource" ref="dataSource"/>
		<!-- 配置hibernate.cfg.xml-->
		 <property name="configLocation" value="classpath:conf/hibernate.cfg.xml"/>
		<!-- 配置映射文件-->
		 <property name="mappingLocations" value="classpath:hbm/*.hbm.xml"/>
	 </bean>

	<!--&lt;!&ndash; 1. 配置事务管理器 &ndash;&gt;-->
	<!--<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">-->
		<!--<property name="sessionFactory" ref="sessionFactory"/>-->
	<!--</bean>-->

	<!--&lt;!&ndash; 2. 配置事务属性&ndash;&gt;-->
	<!--<tx:advice id="txAdvice" transaction-manager="transactionManager">-->
		<!--<tx:attributes>-->
			<!--<tx:method name="get*" read-only="true"/>-->
			<!--<tx:method name="list" read-only="true"/>-->
			<!--<tx:method name="save" propagation="REQUIRED"/>-->
			<!--<tx:method name="update" propagation="REQUIRED"/>-->
			<!--<tx:method name="remove" propagation="REQUIRED"/>-->
		<!--</tx:attributes>-->
	<!--</tx:advice>-->

	<!--&lt;!&ndash; 3. 配置事务切点 &ndash;&gt;-->
	<!--<aop:config>-->
		<!--<aop:pointcut id="txPointcut" expression="execution(* com.scut.crm.service.impl.*.*(..))"/>-->
		<!--<aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut"/>-->
	<!--</aop:config>-->

	<!--<tx:annotation-driven transaction-manager="transactionManager"/>-->
</beans>